{{ $image := . }}
{{ $loading := "lazy" }}

{{ if .Permalink }}
  {{ $image = . }}
{{ else if .image }}
  {{ $image = .image }}
  {{ if .eager }}
    {{ $loading = "eager" }}
  {{ end }}
{{ end }}

{{- $name := $image.RelPermalink | strings.TrimSuffix (printf ".%s" $image.MediaType.SubType) -}}
{{- $extension := $image.MediaType.SubType -}}

{{- $widths := slice -}}
{{- if gt $image.Width 500 -}}
  {{- $widths = $widths | append 500 -}}
{{- end -}}
{{- if gt $image.Width 800 -}}
  {{- $widths = $widths | append 800 -}}
{{- end -}}
{{- if gt $image.Width 1200 -}}
  {{- $widths = $widths | append 1200 -}}
{{- end -}}
{{- if gt $image.Width 1500 -}}
  {{- $widths = $widths | append 1500 -}}
{{- end -}}
{{- if gt $image.Width 2200 -}}
  {{- $widths = $widths | append 2200 -}}
{{- end -}}

{{- $srcset := slice -}}
{{- range $i, $width := $widths -}}
  {{- with $image.Resize (printf "%dx" $width) | resources.Copy (print $name "_" $width "." $extension) -}}
    {{- $srcset = $srcset | append (printf "%s %dw" .RelPermalink $width) -}}
  {{- end -}}
{{- end -}}
{{- $srcset = $srcset | append (printf "%s %dw" $image.RelPermalink $image.Width) -}}

{{- $styles := "" -}}
{{- if and $image.Width -}}
  {{- $styles = printf "aspect-ratio: %d / %d" $image.Width $image.Height -}}
{{- end -}}

<img
  src="{{ $image.RelPermalink }}"
  alt=""
  loading="{{ $loading }}"
  srcset="{{ delimit $srcset ", " }}"
  sizes="(max-width: 576px) calc(100vw - 3.2rem), (max-width: 768px) 540px, (max-width: 992px) 720px, (max-width: 1200px) 960px, (max-width: 1400px) 1140px, 1320px"
  style="{{ $styles | safeCSS }}"
/>
